/*
* Author: Noah Funderburgh
* Date: 5/28/2022
* Teacher: Lisa Hebert
* Class: CST-120-O500
*/

*{
	margin:0;
	padding:0;
}

/*ANIMATIONS */
/*Black Line Animations */
@keyframes whiteIconBackground {
  from {padding: 0em;}
  to {padding: 0.15em;}
}

@keyframes long {
  from {height:0em;}
  to {height:400px;}
}

@keyframes medLong {
  from {height:0em;}
  to {height:300px;}
}

@keyframes medShort {
  from {height:0em;}
  to {height:200px;}
}

@keyframes short {
  from {height:0em;}
  to {height:100px;}
}

/* Fonts */
@font-face {
	font-family: "Oswald-VariableFont_wght";
	src: url(../fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}

/*MEET ME ID TAGS */
#meetMePicture {
	width:20%;
	margin:2em;
}

#meetMeParagraph {
	float: left;
	width:50%;
	font-size:2em;
	margin-right: 1em;
	font-family:  'Oswald-VariableFont_wght';
}

#thingsToShareVideo {
	padding-top:5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 890px;
	height:600px;
}

/*CONTACT ME ID TAGS */
#fname {
	margin: 1em 1em 1em 3em;
	width:17%;
}

#lname {
	margin: 1em 3em 1em 4.2em;
	width:17%;
}

#email {
	margin: 1em 1em 1em 0.8em;
	width:17%;
	
}

#reason {
	margin: 1em 1em 1em 2em;
	width: 85%;
	
}

#submit {
	margin: 1.5em 10em;
	padding: 1em 2em;
	border: none;
	font-size: 1.5em;
	font-family:  'Oswald-VariableFont_wght';
	font-weight:bold;
}

#contactMeContainer {
	position: relative;
	float: right;
	margin-top:5em;
	border: 2px solid grey;
	margin-right: 30em;
	width: 40.5%;
	min-width:34.5%;
	border-radius: 25px;
	padding: 1em;
}


/*PROJECT ID TAGS */
#floorplan {
	width:40%;
	margin-left:2em;
	
}

#floorplanparagraph {
	float: right;
	width: 40%;
	color:white;
	font-size:2em;
	margin-top:1em;
	margin-right:2em;
	font-family:  'Oswald-VariableFont_wght';
}

#floorplancontainer {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5em;
	position: relative;
}

#projectContainer {
	position: relative;
	float: left;
	margin-top:5em;
	width:60%;
	margin-left:3em;
	margin-bottom:19em;
}

.dot {
  height: 25px;
  width: 25px;
  top:1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* CLASSES */
.Label {
	color:white;
	font-family:  'Oswald-VariableFont_wght';
	padding: 1em;
	font-size: 1.75em;
	margin-right:1em;
	margin-left: .7em;
}

.indexContainer {
	position: relative;
	float: right;
	margin-top:5em;
	margin-right:10em;
	width:55%;
}

/*General use container */
.container {
	position: relative;
	float: right;
	margin-top:5em;
}

/* Vertical Black Lines for Index page */
.verticalLine {
	border-left: 48px solid black;
	margin-left:1em;
	animation-name: long;
	animation-duration: 4s;
	animation-fill-mode: forwards;  /* Stops animation after reaching bottom */
	width:1%;
	float:left;
}

/* Text block for Index page */
.text-block {
	position: absolute;
	font-size: 2em;
	top: 20%;
	left: 3em;
	color: white;
}
.text-block2 {
	position: absolute;
	font-size: 2em;
	top: 3em;
	right: 3em;
	color: white;
	background-color:#333333;
	padding: 0 1em;
}

/* Grey Background*/
.grey-background {
	background-color: #171717; /* Dark Grey */
}

/* Flex container for gallery */
.flex-container {
	display: flex;
	width: 100%;
}

/* Left pictures for gallery */
.leftpic {
	margin: 2em 0em 5em 10em;
	width:18%;
	border: 4px grey solid;
}

/* Middle pictures for gallery */
.midpic {
	margin-top:10em;
	margin-left:15em;
	margin-right:15em;
	width:18%;
	border: 4px grey solid;
	flex-grow:4;
}

/* Right pictures for gallery */
.rightpic {
	margin: 2em 13em 5em 0em;
	width:18%;
	border: 4px grey solid;
}

.topnav {
	padding-left:2
}

.topnav ul {
	padding-bottom: 4em;
	padding-top: 3em;
	background-color: rgb(0, 0, 0);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size:1.5em;
	line-height: 1em;
	margin:0px;
}

.topnav ul li {	
	display: inline;
}

.topnav ul li a {
	float:left;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 5px;
	padding-top: 5px;
	text-decoration: none;
	white-space: nowrap;
}

.topnav ul li a b {
	font-weight:900;
}

/* Used to create grey text when user hovers over text */
.topnav ul li a:hover {
	color:grey;
	transition: 1s;
}
/* Used to create white text */
.whiteText {
	color:white;
	font-size:90%;
}

.Icon {
	width: 2.7%;
	min-width: 40px;
	float: right;
	margin: 0em 0.7em;
	border-radius: 50%;
	bottom: 1em;
}

.Icon:hover{
	background-color: white;
	animation-name: whiteIconBackground;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

/*Headings*/
h1 {
	font-family:  'Oswald-VariableFont_wght';
	font-weight: 100;
	padding-top:10px;
	border-bottom: 1px solid white;
	font-size:1em;
}

h3 {
	color: white; 
	text-align:left; 
	margin-left:9em; 
	font-family:  'Oswald-VariableFont_wght';
	font-weight: bold;
	font-size: 2em;
}

h6 {
	font-family:  'Oswald-VariableFont_wght';
	font-size:.4em;
	color:grey;
}

textarea {
	resize: none;
}

input[type=text], select, textarea {
	width: 10%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

footer {
	position: fixed;
	bottom: 30px;
	width: 100%;
	height: 2.5rem;    
}

@media(max-width: 1440px) { /* medium large view */
	/*form edits*/
	.Label {
		font-size: 1.25em;
		margin-right:1em;
	}
	#contactMeContainer {
		margin-right: 20em;
	}
	#email {
		margin-left: 0em;
	}
	#fname {
		margin-right:2em;
	}
	#lname {
		margin-left: 0em;
	}
}	

@media(max-width: 1148px) { /*Medium view */
	/*Decrease vertical black line from 48px to 24px*/
	.verticalLine {
		border-left: 24px solid black;
		margin-left: 0.5em;
		width:3%;
	}
	.whiteText {
		font-size:80%;
	}
	/* Adjust padding */
	.topnav ul li a {
		padding-left: 3em;
		padding-right: 3em;
	}

	.indexContainer {
		margin-right:8em;
	}

	.text-block {
		left:0em;
		top: 5%;
	}
	/*Decrease video size*/
	#thingsToShareVideo {
		width: 500px;
		height:400px;
	}
	/*Increase width decrease margins*/
	.leftpic {
		margin: 2em 0em 5em 3em;
		width:20%;
		
	}
	/*Increase width decrease margins*/
	.midpic {
		margin-left:5em;
		margin-right:5em;
		width:20%;

	}
	/*Increase width decrease margins*/
	.rightpic {
		margin: 2em 5em 5em 0em;
		width:20%;
	}
	h3 {
		margin-left:5em;
	}
	/*Decrease font for form labels*/
	.Label {
		font-size: 1em;
	}
	#contactMeContainer {
		float: right;
		margin-right:10em;
		width:80%;
	}
	/*Decrease padding & adjust margins*/
	#submit {
		margin-right:2em;
		margin-left:4em;
		padding: 0.5em 1em;
	}
}

@media(max-width: 770px) { /*smaller Phone View*/
	/*Decrease a paddings*/
	.topnav ul li a {
		padding-left: 0.8em;
		padding-right: 0.8em;
		font-size: 70%;
	}
	.Label {
		font-size: 1em;
		margin-left:0em;
		margin-right:0em;
	}
	.indexContainer {
		float: none;
		margin-left:22%;
		width:45%;
	}
	.text-block {
		width:60%;
	}

	/*Black Vertical lines don't show on smaller screens so I don't have to float the container*/
	.container {
		float: none;
		width:95%;
	}
	.text-block2 {
		width:55%;
		font-size:.5em;
		padding-right: 3em;
	}

	#meetMePicture {
		width:30%;
		margin:2em;
	}

	#meetMeParagraph {
		width:50%;
		font-size:1em;
		margin-right: 1em;
	}
	#floorplan {
		margin-right: 1em;
		margin-top:3em;
	}
	#floorplanparagraph {
		font-size: 1em;
	}
	#projectContainer {
		float: none;
		margin-left: 6em;
	}
	#contactMeContainer {
		float: right;
		margin-right:10em;
		width:80%;
	}
	#submit {
		margin-right:2em;
		margin-left:4em;
		padding: 0.5em 1em;

	}
	#fname {
		margin-left:1em;
		margin-right:3em;
	}
	#reason {
		margin-left:1em;
	}
}